<script type="text/javascript">
  window.SHOGUN_EDITOR_URL = "<%= Shogun.editor_url %>";
</script>
<div id="shogun-editor"></div>
<script type="text/javascript" src="<%= Shogun.editor_url %>/assets/editor.js"></script>
